@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<style>
    body {
        background-color: #E6E6FA;
    }
</style>
<div class="site-about">
    <h2>Сведения о специальностях</h2>
    <h1 sdfsdf></h
    <p>
        <h3>Специалист по химической переработке нефти и газа</h3> Занимается производством топлива, смазочных материалов, продукции нефтехимии.
    <p>Обязанности:</p>
    <p>1.Контроль за работой технологических установок, проверка работоспособности и организация ремонтных работ промышленного оборудования</p>
    <p>2.Подготовка и запуск производства</p>
    <p>3.Оценка качества продуктов переработки, соответствие регламентам и государственным стандартам</p>
    <p>4.Управление персоналом, координация работы сотрудников предприятия</p>
    <p>5.Оформление отчетности, ведение документооборота</p>
    <img align=center width=190px height=170px src=https://topwar.ru/uploads/posts/2018-03/1521167711_gpn1470.jpg>         
    <img align=center width=190px height=170px src=https://avatars.mds.yandex.net/i?id=01da8cd2ac376e5022a09dc14d4d98cbba002844-6505870-images-thumbs&n=13.JPG>        
    <img align=center width=190px height=170px src=https://sciti.ru/wp-content/uploads/2022/02/neft-i-gaz.jpg>



    <p>
        <h4>Специальность Техническая эксплуатация и обслуживание электрического и электромеханического оборудования</h4> – это квалифицированные специалисты, которые совершают ремонт устройств электроснабжения.
    <p>Они предотвращают или устраняют неполадки в электрических приборах;</p>
    <p>Проводят профилактические осмотры электрических аппаратов;</p>
    <p>Производят измерения и несложные электрические расчеты;</p>
    <p>Изготавливают электротехнические схемы монтажа и сборки.</p>
    <img align=center width=210px height=170px src=https://avatars.mds.yandex.net/i?id =0cc8a16086790d4a96459427aca48205e61259a1-4576832-images-thumbs&n =13>         
    <img align=center width=210px height=170px src=https://belpk.ru/wp-content/uploads/2020/03/P1050998.jpg>         
    <img align=center width=210px height=170px src=http://xn--c1adoj5aa.xn--p1ai/assets/images/teo/IMG_2406(1).JPG>



    <p>
        <h4>Специальность Монтаж, техническое обслуживание и ремонт промышленного оборудования</h4> Будущих специалистов учат:
    <p>организовывать пусконаладочные работы промышленного оборудования;</p>
    <p>Ппользоваться грузоподьемными механизмами и условной сигнализацией при выполнении грузоподъемных работ;</p>
    <p>рассчитывать предельные нагрузки;</p>
    <p>определять виды и способы получения заготовок;</p>
    <p>выбирать способы упрочнения поверхностей;</p>
    <p>выбирать технологическую оснастку;</p>
    <p>рассчитывать режимы резания;</p>
    <img align=center width=210px height=170px src=http://speckranremont.ru/images/5E8A0699.JPG>         
    <img align=center width=210px height=170px src=https://cdn.stpulscen.ru/system/ckeditor_assets/pictures/171241/content_11.jpg>         
    <img align=center width=210px height=170px src=https://sp-promsnab.ru/upload/iblock/553/553ee8117dde18849b2515a884a31a4d.jpg>

    </p>

    <p>

    </p>


</div>

