@{
    string[] cities = new string[] { "Лондон", "Париж", "Берлин" };
    string[] countries = new string[] { "Великобритания", "Франция", "Германия" };
}
@using ASp_Yank


<h3>Города</h3>
@Html.CreateList(cities)
<h3>Страны</h3>
<!-- или можно вызвать так -->
@HelpTable.CreateList(Html, countries)