@{
    ViewData["Title"] = "Home Page";
}



        <div class="jumbotron text-center bg-transparent">
            <img align=right height=200px src=https://measlab.ru/upload/iblock/013/013cf6869fa6c3a19ab8605950819577.png>
            <h1 class="display-4"> Ангарский политехнический техникум</h1>

            <p class="lead"></p>

        </div>

        <div class="body-content">
            <style>
                body {
                    background-color: #E6E6FA;
                }
            </style>
            </div>

            <div class="row">
                <div class="col-lg-4">

                    <h2>Основные сведения</h2>

                    <p>
                        Полное наименование:Государственное бюджетное профессиональное образовательное учреждение Иркутской области «Ангарский политехнический техникум»
                        Сокращенное наименование: ГБПОУ ИО «АПТ»
                        Государственное бюджетное профессиональное образовательное учреждение Иркутской области «Ангарский политехнический техникум» организовано 1 августа 1947 года
                        Техникум
                    </p>


                </div>
                <img align=left src=https://stepanovsergey.ru/backend/thumbs/0e3dcaac65e361fcc7d81f476b79485f/medium.jpg>
                </div>

                <div class="col-lg-4">
                    <h2>Режим работы администрации и других работников техникума по пятидневной рабочей неделе:</h2>

                    <p>
                        <table border="1" width="600">
                            <tbody>
                            <tr>
                                <td>Начало работы </td>
                                <td>8:00 час.</td>
                            </tr>
                            <tr>
                                <td>Перерыв на обед </td>
                                <td>12:00 – 12:30 час.</td>
                            </tr>
                            <tr>
                                <td>Окончание работы</td>
                                <td>16:30 час.</td>
                            </tr>
                            </tbody>
                        </table>


</div>
        //Q!1qqqqqq Esstarossa1999@gmail.com
